<div class='container'>
 {{#link-to 'donation' tagName="li"}}<a href="">Donation</a>{{/link-to}}
  {{#link-to 'index' tagName="li"}}<a href="">Home</a>{{/link-to}}
   {{#link-to 'layout' tagName="li"}}<a href="">Layout</a>{{/link-to}}
{{outlet}}
</div>