<div class="container well">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h1>Lorem ipsum dolor sit amet <br></h1>
            here{{donation.donationTotal}}here
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quidem aperiam vero sunt dicta, delectus odio, consectetur dolorum incidunt </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <img src="http://loremflickr.com/880/480/tech?random=1" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-4">
            <hr>
            <h2></h2>
            <h2>{{gua-currency donationTotal}}</h2>
            <p>pledged of $26,000 goal</p>
            <h2>7,159</h2>
            <p>backers</p>
            <h2>{{daycountdown "March 21, 2017"}}</h2>
            <p>days to go</p>
            <button type="button" class="btn btn-success">Back This Project</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>About this project </h3>
        </div>
        <div class="col-md-4">
            <h3>Support this project </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
        <div class="text-center"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span></div>
            <h1 class="text-center">Lorem ipsum dolor sit amet</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quidem aperiam vero sunt dicta, delectus odio, consectetur dolorum incidunt </p>
            <img src="http://loremflickr.com/880/480/tech?random=2" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-4">
                     <div class="alert alert-info" role="alert">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
            <div class="alert alert-info" role="alert">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
            <div class="alert alert-info" role="alert">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
            <div class="alert alert-info" role="alert">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </div>
    </div>
</div>
{{outlet}}
